[submodule "lib/Adafruit_PM25AQI"]
	path = lib/Adafruit_PM25AQI
	url = https://github.com/adafruit/Adafruit_PM25AQI.git
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
